* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-image: url("https://wallpaperaccess.com/full/862209.jpg");
    width: 100%;
    background-repeat: no-repeat;
    height: 130vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

.weather {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #f5efef;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 50rem;
    transition: all ease-in-out .4s;
    margin-right: -2rem;
    text-align: center;
    background-color: rgb(34, 33, 33);
}

.search__input:hover{
   background-color: rgb(75, 74, 74);
}
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
    color: black;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__input:focus+.search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}
.wheather-main{
    border: 5px solid white;
    width: 400px;
    height: 400px;
    border-radius:6px;
    float: left;
    margin-left: 50px;
    margin-top: 80px;
}
.wheather-main-two{
    border: 5px solid white;
    width: 400px;
    height: 400px;
    border-radius:6px;
    float: right;
    margin-top: 80px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.wheather-main-two:hover{
    border: 5px solid white;
    width: 400px;
    height: 400px;
    border-radius:6px;
    float: right;
    margin-top: 80px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.countries{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 20px;
    color: white;
}
.wheather-main-inner-image{
    width: 160px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.degree-celcius{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 50px;
    color: white;
}
.search-img-in-input{
    width: 20px;
    cursor: pointer;
}
@media screen and (max-width: 530px) {
    .search__input {
        width: 26rem;
        margin-left: -20px;
    }
}